.explorer .title-button {
  display: none;
}

.explorer .explorer-content {
  margin-top: 0;
}

.explorer .explorer-content > .explorer-ul > li:nth-last-child(2) {
  border-top: 1px solid var(--lightgray);
  margin-top: 2rem;
  padding-top: 2rem;
}
