/* Container for the lamp */
.lava-lamp-container {
  width: 100%;
  flex-grow: 1;
  margin: 8px auto;
  margin-top: -17px;

  /* nice shaping + shadows belong on container */
  overflow: hidden;

  background: transparent;
}

/* The canvas itself should NOT have border/shadow or overflow */
.lava-lamp-container canvas {
  display: block;
  width: 100%;
  height: 100%;
  max-height:200px;
}
