// .lesson-page {
//   max-width: 800px;
//   margin: 0 auto;
//   padding: 1.5rem;
// }

.lesson-meta-divider {
  margin: 0 0 0.75rem;
}

.lesson-date {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  opacity: 0.6;
  margin: 0;
  text-align: right;
}

.lesson-theme {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  opacity: 0.6;
  margin: -0.35rem 0 1.5rem;
  text-align: right;
}

// .lesson-section {
//   margin: 2rem 0;
// }
